<head>
	<title>login</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<h2>login</h2>

<form id="login-form">
	<label for="uname">username:</label><br>
	<input type="text" id="uname"><br>
	<label for="pwd">password:</label><br>
	<input type="password" id="pwd"><br><br>
	<input type="submit" value="submit" id="submit_btn">
</form>

<script>
	const redirect = "<TMPL_VAR NAME=REDIRECT ESCAPE=HTML>";
	$("#login-form").submit(function(e){
		const inpt_btn = $("#submit_btn");
		const inpt_pwd = $("input[type='password']");

		const uname = $("input[type='text']").val();
		const pwd = inpt_pwd.val();
		
		var xhr = new XMLHttpRequest();
    		xhr.open( "POST", "/api/login");
		xhr.setRequestHeader("Authorization", `Basic ${btoa(`${uname}:${pwd}`)}`);
		inpt_btn.prop("disabled", true);
		xhr.onload = () => {
			if(xhr.status === 200){
				window.location.href = redirect;
				return false;
			}
			if(xhr.status === 401){
				inpt_pwd.val("");
				alert("invalid credentials!");
			}
			else{
				alert("something went wrong?");
			}
			inpt_btn.prop("disabled", false);
		};
    		xhr.send( null );
		return false;
	});
</script>
</body>